## Imports

In [2]:
import pandas as pd
import numpy as np
from plotly import graph_objects as go

## Read Data

In [3]:
house_warm = pd.read_csv(r"C:\Users\User\Desktop\data\data set-2.csv")
house_warm

      Insulation  Temperature  Heating_Oil  Num_Occupants  Avg_Age  Home_Size
0              6           74          132              4     23.8          4
1             10           43          263              4     56.7          4
2              3           81          145              2     28.0          6
3              9           50          196              4     45.1          3
4              2           80          131              5     20.8          2
...          ...          ...          ...            ...      ...        ...
1213           7           56          264              5     58.2          5
1214           5           78          129              1     22.5          1
1215           5           77          138              3     26.8          1
1216           3           89          156              2     34.0          2
1217           7           59          273              1     61.4          5

[1218 rows x 6 columns]

## Calculate Correlation

In [16]:
correlation = pd.DataFrame(index=range(6),columns=['Name','Insulation','Temperature','Heating_Oil','Num_Occupants','Avg_Age','Home_Size'])
name = ['Insulation','Temperature','Heating_Oil','Num_Occupants','Avg_Age','Home_Size']

for i in range(len(correlation)):
    correlation['Name'][i] = name[i]
    correlation['Insulation'][i] = house_warm['Insulation'].corr(house_warm[name[i]])
    correlation['Temperature'][i] = house_warm['Temperature'].corr(house_warm[name[i]])
    correlation['Heating_Oil'][i] = house_warm['Heating_Oil'].corr(house_warm[name[i]])
    correlation['Num_Occupants'][i] = house_warm['Num_Occupants'].corr(house_warm[name[i]])
    correlation['Avg_Age'][i] = house_warm['Avg_Age'].corr(house_warm[name[i]])
    correlation['Home_Size'][i] = house_warm['Home_Size'].corr(house_warm[name[i]])

correlation

,Name,Insulation,Temperature,Heating_Oil,Num_Occupants,Avg_Age,Home_Size
0,Insulation,1.0,-0.793696,0.736097,-0.012567,0.642982,0.200712
1,Temperature,-0.793696,1.0,-0.77366,0.012519,-0.672579,-0.213939
2,Heating_Oil,0.736097,-0.77366,1.0,-0.041635,0.847891,0.381191
3,Num_Occupants,-0.012567,0.012519,-0.041635,1.0,-0.048034,-0.022534
4,Avg_Age,0.642982,-0.672579,0.847891,-0.048034,1.0,0.306557
5,Home_Size,0.200712,-0.213939,0.381191,-0.022534,0.306557,1.0